name: Deploy static site to S3
on:
  release:
    types: [published]

jobs:
  deploy:
    name: Deploy to S3
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials with OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::{Account_ID}:role/github-oidc-role
          aws-region: us-east-1

      - name: Sync site to S3
        env:
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
        run: |
          aws s3 sync static-demo-site/ s3://$S3_BUCKET/${{ github.event.release.tag_name }} --delete --exclude ".git/*" --exclude ".github/*"
